@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #F08A5D;
  --secondary-color: #F7BCA3;
  --accent-color: #FDF1EB;
  --shadow-color: #E8E8E8;
  --white-color: #FFFFFF;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button.secondary {
  padding: 10px;
  background: var(--white-color);
  color: var(--primary-color);
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
  margin-right: 8px;
}

button.secondary:hover {
  background: var(--accent-color);
}

button.secondary:active {
  background: var(--secondary-color);
  color: var(--white-color);
}
